<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="CurrentSavePath" value="D:\Projects\C#\ApplicationLauncher\ApplicationLauncher\bin\Debug\Saves\"/>
		<add key="FirstLaunch" value="true"/>
	</appSettings>
</configuration>
